.main{
    height: 100vh;
background-color: palevioletred;
text-align: center;
margin-block: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.greeting{ 
    font-family: "Press Start 2P", system-ui;
    color: #0A3323;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    border-right: 3px solid;
    animation: 
    typing 3s steps(25) infinite alternate;
}
.open{
    font-family: "La Belle Aurore", cursive;
    font-size: large;
    text-decoration: none;
    color: black;
}
.container {
    background-image: url("img/j.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    width: 60vh;
    display: flex;
    flex-direction: column;
    gap: 75px;
    padding-inline: 11px;
    font-family:"La Belle Aurore", cursive;
    font-size: x-large;
}
@keyframes typing {
    from {width: 0;}
    to {width: 25ch;}
}
button{
    background-color: beige;
    border: 0;
    padding-inline: 10px;
}
